.big-container {
    width: 3500px; /* Largura máxima */
    height: 510px;
    margin-top: 5%;
    margin-left: 19%; /* Centralizar na página */
    padding: 20px; /* Espaçamento interno */
    background-color: #ffffff; /* Cor de fundo */
    border: 1px solid #fdf9f9; /* Borda */
    border-radius: 2%;
    display: flex;
    flex-direction: column; /* Alinha os filhos em coluna */
    align-items: flex-start; /* Alinha os filhos à esquerda */
}

.big-container h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 3%;
    margin-left: 3%; /* Espaçamento à esquerda do título */
}

.icons-container {
    display: flex;
    margin-left:6%;
    flex-direction: column; /* Organiza os filhos em coluna */
    gap: 20px; /* Espaçamento entre as linhas de ícones */
}

.icons-row {
    display: flex;
    justify-content: flex-start; /* Alinha os ícones à esquerda */
    gap: 70px; /* Espaçamento entre os ícones */
}

.icon-wrapper2 {
    display: inline-flex;
    flex-direction:row;
    align-items: left;
    margin-bottom: 8px;
}

.icon2 {
    font-size: 54px; /* Tamanho dos ícones */
    margin-bottom: 2px;
}



.buttons-container {
    display: flex;
   justify-content:flex-end;
   margin-top:10%; 
}

.edit-button{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid;
    border-color:rgb(22, 154, 22);
    color:rgb(22, 154, 22);
    font-weight: bold;
    font-size: medium;
    font-family:Arial, Helvetica, sans-serif;
    justify-content: flex-end;
}

.add-button{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: rgb(22, 154, 22);;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid;
    border-color:rgb(22, 154, 22);
    color:rgb(255, 255, 255);
    font-weight: bold;
    font-size: medium;
    font-family:Arial, Helvetica, sans-serif;
    justify-content: flex-end;
}


.edit-button:hover, .add-button:hover {
    background-color:rgb(194, 198, 194);
}

.button-icon {
    font-size: 17px;
    margin-right: 5px;
}

.topic {
    position: relative; /* Posição relativa para o container de cada tópico */
    cursor: pointer;
}

.options {
    position: absolute;
    top: -20px; /* Ajuste conforme necessário para posicionar as opções acima do ícone/tópico */
    right: -20px; /* Ajuste conforme necessário para posicionar as opções à direita do ícone/tópico */
    display: flex;
    flex-direction: column;
    background-color: #9e99995b;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 9; /* Garante que as opções fiquem acima dos ícones/tópicos */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none; /* Inicia escondido */
}

.topic.show-options .options {
    display: flex; /* Mostra as opções quando a classe show-options está presente */
}

.edit-option {
    background-color: #285b91;
    color: #fff;
    border: none;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.remove-option {
    background-color: #e92639;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}

.option-icon {
    margin-right: 5px;
}


.add-topic-page {
    height: 100%; /* Ocupa a altura total da tela */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-topic-page .topic-form-container {
    background-color: white;
    border-radius: 10px;
    height: 80%;
    width: 80%;
    margin-right: -17%;
    margin-top: 5%;
    max-width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-topic-page h2 {
    background-color: green;
    color: white;
    border-radius: 10px 10px 0 0;
    padding: 15px;
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
}

.add-topic-page .topic-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.add-topic-page .form-group {
    margin-bottom: 15px;
}

.add-topic-page .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.add-topic-page .form-group input,
.add-topic-page .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
}

.add-topic-page .form-group input::placeholder,
.add-topic-page .form-group select::placeholder {
    color: #aaa;
}

.add-topic-page .button-group {
    display: flex;
    margin-top: 250px;
    margin-right: 10p;
    justify-content: end;
}

.add-topic-page .submit-button,
.add-topic-page .cancel-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

.add-topic-page .submit-button {
    background-color: green;
    color: white;
    margin-left: 3%;
}

.add-topic-page .cancel-button {
    background-color: red;
    color: white;
    
}

@media (max-width: 768px) {
    .add-topic-page .topic-form-container {
        margin: 10px;
    }

    .add-topic-page .form-group input,
    .add-topic-page .form-group select {
        font-size: 0.9rem;
    }

    .add-topic-page .submit-button,
    .add-topic-page .cancel-button {
        font-size: 0.9rem;
    }
}

/* add topico.css */

.add-topic-page {
    height: 100%; /* Ocupa a altura total da tela */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-topic-page .topic-form-container {
    background-color: white;
    border-radius: 10px;
    height: 80%;
    width: 80%;
    margin-right: -17%;
    margin-top: 5%;
    max-width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-topic-page h2 {
    background-color: green;
    color: white;
    border-radius: 10px 10px 0 0;
    padding: 15px;
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
}

.add-topic-page .tabs {
    display: flex;
    padding: 0%;
    margin: 0%;
    width: 100%;
    background-color: white;
}

.add-topic-page .tabs .icon{
    margin-right: 4%;
}

.add-topic-page .tab {
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: white;
    width: 170%;
    height: 180%;
    
}

.add-topic-page .tab .button{
    margin-left: 50%;
    text-align: center;
}

.add-topic-page .tab.active {
    color: black;
    background-color: white;
    margin: 0%;
    border-bottom: 2px solid green;
}

.add-topic-page .topic-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.add-topic-page .form-group {
    margin-bottom: 15px;
}

.add-topic-page .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.add-topic-page .form-group input,
.add-topic-page .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
}

.add-topic-page .form-group input::placeholder,
.add-topic-page .form-group select::placeholder {
    color: #aaa;
}

.add-topic-page .button-group {
    display: flex;
    margin-top: 250px;
    margin-right: 30px;
    justify-content: end;
}

.add-topic-page .submit-button,
.add-topic-page .cancel-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

.add-topic-page .submit-button {
    background-color: green;
    color: white;
    margin-left: 3%;
}

.add-topic-page .cancel-button {
    background-color: white;
    color: red;
    
}

@media (max-width: 768px) {
    .add-topic-page .topic-form-container {
        margin: 10px;
    }

    .add-topic-page .form-group input,
    .add-topic-page .form-group select {
        font-size: 0.9rem;
    }

    .add-topic-page .submit-button,
    .add-topic-page .cancel-button {
        font-size: 0.9rem;
    }
}


.add-topic-page .tab-content_galeria h2{
    background-color: #ffffff;
    color: black;
    margin-top: 2%;
}

.add-topic-page .gallery-upload {
    background-color: white;
    margin-top: 3%;
}

.add-topic-page .tab-content_galeria .form-buttons{
    margin-top: 3%;
    margin-right:5%;
}

/*janela modal*/
/* desporto.css */
.overlay {
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    background: white;
    padding: 20px;
    max-width: 500px;
    width: 90%;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1001;
}

.modal-content {
    text-align: center;
}

.modal-icon {
    font-size: 48px;
    color: red;
    margin-bottom: 10px;
}

.modal-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.confirm-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    
}

/*ADICIONAR TOPICO  */


.add-topic-page {
    height: 100%; /* Ocupa a altura total da tela */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-topic-page .topic-form-container {
    background-color: white;
    border-radius: 10px;
    height: 80%;
    width: 80%;
    margin-right: -17%;
    margin-top: 5%;
    max-width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-topic-page h2 {
    background-color: green;
    color: white;
    border-radius: 10px 10px 0 0;
    padding: 15px;
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
}

.add-topic-page .tabs {
    display: flex;
    padding: 0%;
    margin: 0%;
    width: 100%;
    background-color: white;
}

.add-topic-page .tabs .icon{
    margin-right: 4%;
}

.add-topic-page .tab {
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: white;
    width: 170%;
    height: 180%;
    
}

.add-topic-page .tab .button{
    margin-left: 50%;
    text-align: center;
}

.add-topic-page .tab.active {
    color: black;
    background-color: white;
    margin: 0%;
    border-bottom: 2px solid green;
}

.add-topic-page .topic-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.add-topic-page .form-group {
    margin-bottom: 15px;
}

.add-topic-page .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.add-topic-page .form-group input,
.add-topic-page .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
}

.add-topic-page .form-group input::placeholder,
.add-topic-page .form-group select::placeholder {
    color: #aaa;
}

.add-topic-page .button-group {
    display: flex;
    margin-top: 250px;
    margin-right: 30px;
    justify-content: end;
}

.add-topic-page .submit-button,
.add-topic-page .cancel-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

.add-topic-page .submit-button {
    background-color: green;
    color: white;
    margin-left: 3%;
}

.add-topic-page .cancel-button {
    background-color: white;
    color: red;
    
}

@media (max-width: 768px) {
    .add-topic-page .topic-form-container {
        margin: 10px;
    }

    .add-topic-page .form-group input,
    .add-topic-page .form-group select {
        font-size: 0.9rem;
    }

    .add-topic-page .submit-button,
    .add-topic-page .cancel-button {
        font-size: 0.9rem;
    }
}


.add-topic-page .tab-content_galeria h2{
    background-color: #ffffff;
    color: black;
    margin-top: 2%;
}

.add-topic-page .gallery-upload {
    background-color: white;
    margin-top: 3%;
}

.add-topic-page .tab-content_galeria .form-buttons{
    margin-top: 3%;
    margin-right:5%;
}




.icon-preview img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    margin-top: 10px;
    align-items: center;
}



