.criar_publicacao_div_princ {
  display: flex;
  flex-direction: column;
  width: calc(100% - 250px); /* Ajustar a largura para descontar o menu lateral */
  background-color: #156fca; /* Cor de fundo azul */
  padding: 20px;
  box-sizing: border-box; /* Inclui padding e border no cálculo da largura e altura */
  overflow: auto;
  flex: 1;
  min-height: calc(100vh - 90px); /* Ajustar para ocupar a altura da tela menos a navbar */
  margin-left: 250px; /* Espaço para o menu lateral */
  margin-top: 60px;
}
.title2 {
  color: white;
  font-size: 36px;
  margin: 0;
  padding: 20px 0;
  text-align: left;
}

.criar-publicacao-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.hidden-title {
  visibility: hidden;
  height: 0;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author {
  display: flex;
  align-items: center;
}

.author-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border-bottom: 2px solid #ccc;
}

.tab {
  padding: 10px 20px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.tab-icon {
  margin-right: 8px;
}

.tab.active {
  border-bottom: 2px solid #4CAF50;
  color: #4CAF50;
}

.tab-content {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.form-group textarea {
  height: 100px;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.cancel-button {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: #d32f2f;
}

.submit-button:hover {
  background-color: #388e3c;
}
