.publicacoes-div_princ {
  display: flex;
  flex-direction: column;
  width: calc(100% - 250px); /* Ajustar a largura para descontar o menu lateral */
  background-color: none; /* Cor de fundo azul */
  padding: 20px;
  box-sizing: border-box; /* Inclui padding e border no cálculo da largura e altura */
  overflow: auto;
  flex: 1;
  min-height: calc(100vh - 90px); /* Ajustar para ocupar a altura da tela menos a navbar */
  margin-left: 250px; /* Espaço para o menu lateral */
  margin-top: 60px;
}

.publicacoes-title2 {
  color: white;
  font-size: 36px;
  margin: 0;
  padding: 20px 0;
  text-align: left;
}

.edit-buttons-container {
  display: flex;
  align-items: center;
}

.edit-btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4px; /* Ajuste o espaçamento entre os botões conforme necessário */
}

.publications-edit-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0; /* Remover padding para evitar espaçamento excessivo */
  margin-right: 6px; /* Ajuste o espaçamento entre os botões conforme necessário */
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.publicacoes-button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.left-buttons {
  display: flex;
  gap: 20px; /* Espaço entre os botões à esquerda */
}

.right-button {
  margin-left: auto; /* Coloca o botão à direita */
}

.create-publication-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.create-publication-form h2 {
  margin-top: 0;
}

.create-publication-form label {
  display: block;
  margin-bottom: 10px;
}

.create-publication-form input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.create-publication-form button {
  padding: 10px 20px;
  background-color: #156fca;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-publication-form button:hover {
  background-color: #135a9c;
}

.publications-view {
  background-color: #f9f9f9;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 10px;
}

.publications-table {
  color: #718EBF;
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  text-align: left;
  border-radius: 10px;
  overflow: hidden;
}

.publications-table th,
.publications-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.publications-table th {
  background-color: #f4f4f4;
}

.publications-table td {
  color: black;
}

.publications-status {
  padding: 4px 8px;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
}

.publications-status.active {
  background-color: #28a745;
}



.publications-edit-btn:hover {
  color: #156fca;
}

.search-container {
  margin-bottom: 20px;
}

.search-wrapper {
  position: relative;
  max-width: 200px; /* Define um tamanho máximo para a barra de busca */
  margin: left; /* Centraliza a barra de busca */
}

.search-input {
  width: 100%;
  padding: 12px 20px 12px 40px; /* Adicione padding para aumentar a área clicável e espaço para o ícone */
  border: none;
  border-radius: 25px; /* Adiciona bordas arredondadas */
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona sombra para um efeito elevado */
  outline: none; /* Remove a borda ao focar */
  background-color: white; /* Fundo branco */
}

.search-input::placeholder {
  color: #D3DDED; /* Cor azulada para o texto do placeholder */
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 15px; /* Ajuste a posição horizontal conforme necessário */
  transform: translateY(-50%);
  color: #D3DDED; /* Cor azulada para a lupa */
  font-size: 18px;
}