.publicacoes-view {
    display: flex;
    flex-direction: column;
    width: calc(100% - 250px); /* Ajustar a largura para descontar o menu lateral */
    background-color: #156fca; /* Cor de fundo azul */
    padding: 20px;
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura e altura */
    overflow: auto;
    flex: 1;
    min-height: calc(100vh - 90px); /* Ajustar para ocupar a altura da tela menos a navbar */
    margin-left: 250px; /* Espaço para o menu lateral */
    margin-top: 60px;
  }

  
  .publicacoes-view h1 {
    color: white; /* Cor do texto */
    font-size: 36px; /* Tamanho da fonte */
    text-align: left; /* Alinha o texto à esquerda */
    margin: 0; /* Remove margens adicionais */
    padding: 20px 0; /* Adiciona espaçamento acima e abaixo do título */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    color: #fff; /* Cor do texto */
  }