.form-container {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(100% - 60px);
  height: calc(100% - 40px); /* Define uma altura fixa */
  margin: 0 auto;
  display: flex;
  flex-direction: column;

}
.tab-content {
  flex: 1;
  height: 100%; /* Adiciona barra de rolagem se o conteúdo exceder a altura */
}
.form-title {
  background-color: #4CAF50;
  color: white;
  padding: 1rem;
  border-radius: 8px 8px 0 0;
  margin: -2rem -2rem 1rem -2rem;
  text-align: center;
}

.tabs {
  display: flex;
  justify-content: space-around;
  background-color: #f1f1f1;
  border-radius: 8px 8px 0 0;
  margin-bottom: 1rem;
}

.tab {
  background: none;
  border: none;
  padding: 1rem;
  cursor: pointer;
  flex: 1;
  text-align: center;
  font-size: 1rem;
  color: #333;
}

.tab.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 8px 8px 0 0;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group textarea {
  height: 100px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

.cancel {
  background-color: red;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.continue {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}
