body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

.container {
  display: flex;
  background-image: url('../public/fundo_site.png');
  background-size: cover;  /* 100% de largura, altura automática */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}


.main-content {
  flex: 1;
  min-height: calc(100% - 180px);
  overflow: auto;
  margin-left: 270px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../public/fundo_site.png');
  background-size: 100% auto; /* 100% de largura, altura automática */
  background-repeat: no-repeat;
  background-attachment: fixed;
}
