
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 70vh;

  background-image: url('../public/fundo_site.png');
  background-size: 100% auto; /* 100% de largura, altura automática */
  background-repeat: no-repeat;
  background-attachment: fixed;

}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
