.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #004080;
  padding: 10px;
  box-sizing: border-box;
}

.loginBox {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
}
.login-logo {
  max-width: 80%;
  height: auto;
  
}

.title {
  font-size: 24px;
  color: #004080;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 16px;
  color: #888;
  margin-bottom: 20px;
}

.instruction {
  margin-bottom: 20px;
  color: #333;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.checkboxLabel {
  margin-left: 5px;
  color: #333;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #004080;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
}

.forgotPassword {
  margin-top: 15px;
  color: #004080;
  cursor: pointer;
}


.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: auto;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}