.div_princ {
    display: flex;
    height: 100vh; /* Preenche a altura da tela */
  }
  
  .title2 {
    margin-bottom: 20px;
  }
  
  .cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%; /* Ocupa metade da largura da tela */
    background-color: transparent; /* Opcional: define uma cor de fundo para a área do gráfico */
  }
  
  .right-container {
    width: 50%; /* Ocupa a outra metade da tela */
    padding: 20px;
    background-color: transparent; /* Opcional: define uma cor de fundo para a outra área */
  }
  
  .radar-chart {
    width: 100%; /* Ocupa toda a largura disponível da container */
    height: 100%; /* Ocupa toda a altura disponível da container */
  }
  