.div_princ {
    display: flex;
    flex-direction: column;
    width: calc(100% - 250px); /* Ajustar a largura para descontar o menu lateral */
    background-color: #c8373700;
    padding: 20px;
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura e altura */
    overflow: auto;
    flex: 1;
    min-height: calc(100vh - 90px); /* Ajustar para ocupar a altura da tela menos a navbar */
    margin-left: 250px; /* Espaço para o menu lateral */
    margin-top: 60px;
  }
  
  .title2 {
    color: white; /* Cor do texto */
    font-size: 36px; /* Tamanho da fonte */
    text-align: left; /* Alinha o texto à esquerda */
    margin: 0; /* Remove margens adicionais */
    padding: 0px 0; /* Adiciona espaçamento acima e abaixo do título */
  }
  
  .cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Define uma grade de 3 colunas */
    gap:0px; /* Espaçamento entre os cartões */
    margin-top:0px;
  }
  